

body {
    font-family: Verdana, sans-serif;
}



h1 {
    color: #000000;
}

h2 span {
    color: #ffc200
}

h3 a {
    color: #000ff6;
}

.division1 {
font-family: Merriweather, Georgia, serif;

}

.division2 {
font-family: Georgia, serif; 
color: #666; 
font-size: 14px; 
font-style: italic;
   
}
